.header{
    background-color: none;
    color: white;
    text-align: left;
}
.header p{
    font-size: 40px;
}
#social{
    background-color: aqua;
}
*{
    margin: 0%;
    padding: 0px;
}
body{
    background-image: url(images/background3.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.header img{
    width: 130px;
    height: 130px;
}
.main-content{
    color: white;
}